*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif !important;
}

/* header */
.header-title{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
.header-title span{
    color: Red;
}
nav ul li a{
    color: black !important;
    font-size: 18px;
    font-weight: bold;
    
}
nav ul li a:hover{
    border-bottom: 2px solid red;
    transition: all .2s ease-in-out;
   
}
/* slider */


.show-text-slider{
    position: relative;
    color: red;
    top: -200px;
    left:400px;
    width: 80%;
    margin: 0 auto;
}

.border-bottom{
    border-bottom: 2px solid red;
   
}